{% extends "layout.html" %}


{% block body %}
    <div>
<!--        <button type="button" onclick="window.location.href='{{ url_for( 'index2' ) }}';" id="welcome">Main menu</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'login' ) }}';" id="login">Log in</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'new_user' ) }}';" id="new_login">New account</button>
-->        <button type="button" onclick="window.location.href='{{ url_for( 'about' ) }}';" id="about">About Ben's Bricks</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'just_brick_pics' ) }}';" id="just_brick_pics">About the model</button>

    </div>

    <h2>Take Pictures: works with Firefox or Chrome</h2>
    <p></p>

    <p>To make your own custom list of bricks:</p>
    <li>Place one brick in front of the camera,
        with the longest, most complex side facing the camera.</li>
    <li>Press the "Take or retake photo" button </li>
    <li>Press the "Classify this picture" button to get the id number of this brick, or reshoot. </li>
    <p></p>

<!--
    <p>
        <img src="/static/images/lego digital designer screenshot.png" alt="This is a brick">
    </p>


    <div>
        <span>Please enter the a label to save your picture under:</span>
        <input id="label"></input>
    </div>
-->

    <!-- This div is pasted from https://github.com/mdn/samples-server/tree/master/s/webrtc-capturestill -->
    <div class="contentarea">
      <div class="camera">
          <video id="video">Video stream not available.</video>
      </div>
      <canvas id="canvas"> </canvas>
      <div class="output">
          <img id="photo" alt="The screen capture will appear in this box.">
      </div>
    </div>

    <div>
        <button id="startbutton">Take or retake photo</button>
        then
        <button type="button" id="classify">Classify this picture</button>
    </div>


    <div>
    <!-- The span has an id so that later we can fill in the solution
         using js. -->
    <p> The prediction is: <span id="solution1"></span> </p>

    <!--
    <p>The latest classification picture is: <span id="solution2"></span></p>
    -->

    <img id="photo2" src="/static/images/initial_classification_picture.png">

    <!--
    <img id="photo2" src="" alt="Classification results will appear in this box.">
    -->


{% endblock %}
