{% extends "layout.html" %}


{% block body %}
    <div>
        <button type="button" onclick="window.location.href='{{ url_for( 'index2' ) }}';" id="welcome">Main menu</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'login' ) }}';" id="login">Log in</button>
    </div>


    <h2>New User Form</h2>
    <h2>THIS PAGE IS UNDER CONSTRUCTION.  PLEASE TRY AGAIN LATER</h2>
    <p></p>

    <form action="/action_page.php">
      <div class="imgcontainer">
          <img src="/static/images/lego digital designer screenshot.png" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Email address</b></label>
        <input type="text" placeholder="Enter email address" name="email" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label><b>Please repeat password</b></label>
        <input type="password" placeholder="Enter Password" name="psw2" required>

        <p></p>

        <button type="submit">Submit</button>
        <input type="checkbox" checked="checked"> Remember me
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>

      </div>
    </form>

</body>
</html>

{% endblock %}
