{% extends "layout.html" %}


{% block body %}
    <div>
        <button type="button" onclick="window.location.href='{{ url_for( 'index' ) }}';" id="welcome">Main menu</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'login' ) }}';" id="login">Log in</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'new_user' ) }}';" id="new_login">New account</button>
    </div>

    <h2>Make brick lists</h2>
    <h2>THIS PAGE IS UNDER CONSTRUCTION.  PLEASE TRY AGAIN LATER</h2>
    <p></p>

    <p>
        <img src="/static/images/lego digital designer screenshot.png" alt="This is a brick">
    </p>

    <p>To make your own custom list of bricks, you can choose an option below!</p>

        <div>
            <li>Load a saved list from your account</li>
            <button type="button" id="shoot">SHOOT</button>
            <li>Upload a saved list from a text file </li>
            <button type="button" id="shoot">SHOOT</button>
            <li>Manually enter brick numbers and quantities</li>
            <button type="button" id="shoot">SHOOT</button>
            <li>Go to the "shoot pictures" page</li>
            <button type="button" id="shoot">SHOOT</button>

        </div>


</body>
</html>

{% endblock %}
