{% extends "layout.html" %}

{% block body %}
<!--
<div>
    <button type="button" onclick="window.location.href='{{ url_for( 'index2' ) }}';" id="welcome">Main menu</button>
    <button type="button" onclick="window.location.href='{{ url_for( 'login' ) }}';" id="login">Log in</button>
    <button type="button" onclick="window.location.href='{{ url_for( 'new_user' ) }}';" id="new_login">New account</button>
</div>
-->

<h2>About Ben's Bricks</h2>
<p></p>
Since 2015, our family has been discussing getting into the second-hand brick market.
<p></p>
All of us have been brick fans for years, and we each play with them in our own way.
<p></p>
Of our two children, one is more likely to turn a Batmobile and a Death Star into
Spongebob's house than he is to return his bricks to their original kits.
<p></p>
The other, Ben, likes his bricks to be orderly, in complete kits, with directions.
<p></p>
Ben's Bricks supports the Chaos-Boy approach, but is dedicated to returning order
from chaos.  At this time, there is no way of returning mixed bins of bricks to
their original kits without expert-level knowledge of brick ID numbers.  Our app
is the first step in training a computer to provide those numbers, in order to
return a bin full of bricks to its original kits.
<p></p>
<h2>Before...</h2>
<img src="/static/images/Ben and Josh legos.jpg" id="mixed" alt="These are bricks">
<h2>After?????</h2>
<img src="/static/images/IMG_3710.JPG" id="built" alt="These are bricks">

<p></p>


{% endblock %}
