{% extends "layout.html" %}


{% block body %}
    <div>
        <button type="button" onclick="window.location.href='{{ url_for( 'index' ) }}';" id="welcome">Main menu</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'login' ) }}';" id="login">Log in</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'new_user' ) }}';" id="new_login">New account</button>
    </div>

    <h2>Take Pictures</h2>
    <p></p>

    <p>To make your own custom list of bricks:</p>
    <li>Place one brick in front of the camera.  For best results, put the brick
        with the longest, most comples side facing the camers.</li>
    <li>Press the SHOOT button </li>
    <li>Confirm that our interpretation of your picture is right, or reshoot. </li>
    <p></p>

    <div>
        <span>Please enter the a label to save your picture under:</span>
        <input id="label"></input>
    </div>



    <!-- This div is pasted from https://github.com/mdn/samples-server/tree/master/s/webrtc-capturestill -->
    <div class="contentarea">
    	<p> Photo preview and photo shown here
    	</p>
      <div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take photo</button>
      </div>
      <canvas id="canvas">
      </canvas>
      <div class="output">
        <img id="photo" alt="The screen capture will appear in this box.">
      </div>
    </div>





    <div>
        <button type="button" id="shoot">SHOOT</button>
    </div>
    <p>
        <img src="/static/images/lego digital designer screenshot.png" alt="This is a brick">
    </p>

    <div>
        <button type="button" id="classify">CLASSIFY</button>
        OR
        <button type="button" id="reshoot">RE-SHOOT</button>

    </div>

    <div>
        <!-- The span has an id so that later we can fill in the solution
             using js. -->
        <p> The prediction is: <span id="solution1"></span> </p>

{% endblock %}
